extends layout

block content
  h1 #{title}: #{designer.first_name} #{designer.last_name}

  if boatDesigned.length

    p #[strong Delete the following boats before attempting to delete this designer.]

    div(style='margin-left:20px;margin-top:20px')

      h4 Boats

      dl
      each boat in boatDesigned
        dt
          a(href=boat.url) #{boat.model} 
          | (Manufacturer: #{boat.manufacturer[0].name})
        
    hr

  else
    hr
    h3 Do you really want to delete this Designer?

    form(method='POST' action='')
      div.form-group
        input#designerId.form-control(type='hidden',name='designerId', required='true', value=designer._id )

      button.btn.btn-primary(type='submit') Delete
