extends layout

block content

  h1 #{title}

  h2 Manufacturer: #{manufacturer.name}

  div

    h4 Boats

    dl(class="item-detail-page")
      each boat in boatsManufactured
        dt
          a(href=boat.url) #{boat.model} 
          | (Type: #{boat.type[0].name})

      else
        p This manufacturer has no boats.

  hr
  p
    a(href=manufacturer.url+'/delete') Delete manufacturer