extends layout

block content

  h1 #{title}

  h2 Type: #{type.name}

  div

    h4 Boats

    dl(class="item-detail-page")
      each boat in boatsInType
        dt
          a(href=boat.url) #{boat.model} 
          | (Manufacturer: #{boat.manufacturer[0].name})

      else
        p This type has no boats.

  hr
  p
    a(href=type.url+'/delete') Delete type